@import url('https://fonts.googleapis.com/css?family=Noto+Serif|PT+Serif');

body{
    padding-top: 10%;
}

.bg-dark{
    background-color: pink;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(60, 211, 14);
    font-family: 'Noto Serif', serif; 
    text-align: center;
}

li {
    float: left;
    font-family: 'PT Serif', serif;
}

.active {
    background-color: pink;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(17, 17, 17);
}

.background{
	background-image: url('../assets/wolf.jpg'); 
	background-repeat: no-repeat; 
/*	background-attachment: fixed;
*/	background-size: cover;
	background-position: center; 
	padding: 0;
	margin: 0; 
	height:100vh;
    margin-top: 5%;
}

.fa{
	font-size:50px; 
	color:blue;
}